html, body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #03A9F4;
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  display: flex;
  flex: 1;
  align-self: center;
}
header {
  margin-bottom: 30px;
  padding: 30px;
}
h1 {
  margin: 0;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
.content label { font-weight: bold; }
.mountain, .mountain-2 {
  position: absolute;
  bottom: 0;
  right: -20px;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 140px solid #906c60;
  z-index: 2;
  zoom: 1.7;
}
.mountain-2 {
  right: 140px;
  z-index: 1;
  zoom: 1.3;
  opacity: .9;
}
.mountain-top {
  position: absolute;
  right: -34px;
  border-left: 33px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 51px solid #ceeaf6;
  z-index: 2;
}
.mountain-cap {
  position: absolute;
  top: 36px;
  left: -26px;
  border-left: 32px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 15px solid #906c60
}
#converted {
  padding: 0 20px 0 20px;
  margin: 20px auto 10px auto;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}
/* select-css by Filamentgroup https://github.com/filamentgroup/select-css */
.custom-select {
  position: relative;
  display: inline-block;
  min-width: 200px;
  margin: 4px 0 20px 0;
  border: 2px solid #fff;
  background: transparent;
}
.custom-select select {
  width: 100%;
  margin: 0;
  color: #fff;
  outline: none;
  padding: .6em .8em .5em .8em;
  box-sizing: border-box;
  font-size: 16px;
}
.custom-select::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 1em;
  z-index: 2;
  pointer-events: none;
  display: none;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #fff;
  margin-top: -3px;
}
.custom-select select:focus {
  outline: none;
  box-shadow: 0 0 1px 2px #03A9F4;
}
@supports ( -webkit-appearance: none ) or ( appearance: none )
	or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {
  .custom-select::after {
    display: block;
  }
  .custom-select select {
    padding-right: 2em;
    background: none;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .custom-select select:focus {
    border-color: #aaa;
  }
  .custom-select option {
    color: #000;
  }
}

#grade-type {
  display: flex;
  margin-bottom: 20px;
}

#grade-type button {
  flex: 1;
  padding: 10px 4px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
}

#grade-type button.active {
  font-weight: bold;
  border: 2px solid #fff;
  color: #03A9F4;
  background: #fff;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  h1 {

  }
  .content label {
    display: block;
  }
  .content .custom-select {
    min-width: 70vw;
  }
  .mountain {
    zoom: 1;
    right: -50px;
  }
  .mountain-2 {
    zoom: .7;
    right: 100px;
  }
}
